body {
    background: #c5c19b url('../images/bg_body.gif') repeat;
    font-family: Georgia, "Times New Roman", Times, sans-serif;
    color: #3b2611;
    font-size: 14px;
}

input,
select,
option,
textarea {
    font-family: Georgia, "Times New Roman", Times, sans-serif;
    color: #3b2611;
}

a:link,
a:visited,
a:link .link,
a:visited .link {
    color: #a43d12;
    text-decoration: none;
    border-bottom: 1px dotted #a43d12;
}

a:hover,
a:active,
a:hover .link,
a:active .link {
    border-bottom-style: solid;
}

img {
    border: 0;
}

:focus {
    outline: 0;
}

h2 {
    font-size: 24px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 17px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.align-right {
    text-align: right;
}

.w-100 {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
}

.w-47 {
    min-width: 47%;
    max-width: 47%;
    width: 47%;
}

.w-400p {
    width: 400px;
}

acronym {
    cursor: help;
    color: #6c3219;
    border-bottom-style: dashed;
}

option.selected {
    opacity: 0.5;
}

.weight-normal {
    font-weight: normal;
}

blockquote {
    background-color: #e0ddc4;
    padding: 15px;
    -moz-border-radius: 3px;
    font-size: 21px;
    margin: 10px 0px;
}

#logo {
    padding: 50px;
    display: none;
}

#logo a:link,
#logo a:visited {
    border: 0;
}

#auth {
    position: absolute;
    right: 20px;
    bottom: 10px;
    background: #7c3111;
    background: #d9d5bf;
    padding: 7px 10px;
    -moz-border-radius: 3px;
}

#wrapper {
    width: 700px;
    margin: 0px auto;
    position: relative;
    z-index: 100;
    margin-top: 40px;
}

.refresh a:link,
.refresh a:visited {
    border: 0;
    font-size: 12px;
    font-weight: bolder;
}

.refresh span.link {
    display: inline-block;
    vertical-align: middle;
    padding: 0px 0px;
}

.refresh img {
    display: inline-block;
    vertical-align: middle;
    padding-right: 2px;
}

.author {
    font-style: italic;
    text-align: right;
    font-size: 17px;
}

.author a:link,
.author a:visited {
    color: #7c3111;
    border-bottom-color: #7c3111;
}

.about_author {
    position: absolute;
    right: 0px;
    width: 400px;
    background-color: #dddbc4;
    -moz-border-radius: 3px;
    padding: 10px;
    margin-top: 20px;
}

.about_author h3 {
    margin: 0px 0px 5px 0px;
}

.about_author h5 {
    margin: 0px 0px 5px 0px;
}

.author_bio {
    padding: 5px 20px;
    background-color: #d9d5bf;
    margin-left: -10px;
    margin-right: -10px;
    border: 1px dashed #bebd81;
    border-width: 1px 0px;
    font-size: 15px;
}

.popup-arrow {
    position: absolute;
    top: -10px;
    right: 20px;
    color: #d8d6bc;
}

/* Adding quote! */

.button_row {
    padding-top: 10px;
}

.about_author .button_row {
    position: absolute;
    bottom: -40px;
    right: 25px;
}

textarea.quote_text {
    font-size: 21px;
    border: 0;
    -moz-border-radius: 3px;
    padding: 5px 10px;
    height: 180px;
}

.button {
    background-color: #6c3219;
    color: #d46334;
    border: 0;
    padding: 3px 7px;
    -moz-border-radius: 3px;
    font-size: 17px;
    cursor: pointer;
}

.button:hover {
    background-color: #603c17;
    color: #f27c4a;
}

/* Adding author */

.author input {
    font-size: 17px;
}

.about_author h3 input{
    font-size: 20px;
}

.about_author h5 input{
    font-size: 17px;
}

.author_bio textarea {
    font-size: 15px;
}

.author input.field,
.about_author input.field,
.about_author textarea {
    background: none;
    border: 0;
    background-color: #d3d0b4;
    border: 2px solid #bab691;
    padding: 2px;
    -moz-border-radius: 2px;
}

.author input.field {
    background: none;
    border: 2px dashed #d5d2b6;
    color: #7c3111;
    margin: 2px;
    text-align: right;
    font-style: italic;
}

.author input.field:focus,
.about_author input.field:focus,
.about_author textarea:focus {
    border-color: #a43d12;
}

.author input.error,
.about_author input.error,
.about_author textarea.error {
    border-color: #cb4302;
}


/* Footer */
#footer {
    background: transparent url('../images/bg_footer-left.gif') no-repeat bottom left;
    width: 336px;
    height: 591px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.copyright {
    font-weight: bolder;
    font-size: 12px;
    position: absolute;
    left: 50px;
    bottom: 25px;
    z-index: 2;
}

.hidden {
    display: none;
    visibility: hidden;
}